[project]
	description = This repository demonstrates building a Spring 3.1 application that uses profiles, HTML5, caching and Hibernate 4.0, and more.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jmferland
[access "refs/for/refs/*"]
	read = group user/jmferland
	push = group user/jmferland
	label-Code-Review = -2..+2 group user/jmferland
	label-Verified = -1..+1 group user/jmferland
	rebase = group user/jmferland
	removeReviewer = group user/jmferland
	submit = group user/jmferland
[access "refs/heads/*"]
	read = group user/jmferland
	create = group user/jmferland
	push = +force group user/jmferland
	pushMerge = group user/jmferland
[access "refs/tags/*"]
	push = +force group user/jmferland
	pushTag = group user/jmferland
	pushSignedTag = group user/jmferland
